@use '../../utils' as *;
/*----------------------------------------*/
/*  3.1.3 banner Style 3
/*----------------------------------------*/

.rs-banner{
    &-three{
        z-index: 1;
        padding-top: 170px;
        @media #{$md}{
            padding-top: 140px;
        }
        @media #{$sm,$xs}{
            padding-top: 130px;
        }
        .rs-banner-bg{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .rs-banner-title{
            font-size: 110px;
            text-transform: uppercase;
            font-weight: 800;
            line-height: 1.1;
            @media #{$xl}{
                font-size: 100px;
            }
            @media #{$lg}{
                font-size: 80px;
            }
            @media #{$md}{
                font-size: 60px;
            }
            @media #{$sm}{
                font-size: 50px;
            }
            @media #{$xs}{
                font-size: 40px;
            }
        }
        .rs-banner-content{
            text-align: center;
        }
        .thumb-first{
            width: 90px;
            margin: -20px 20px 0px 0px;
            @media #{$lg}{
                width: 60px;
            }
            @media #{$md,$sm,$xs}{
                width: 45px;
                margin: -10px 20px 0px 0px;
            }
        }
        .thumb-second{
            border-radius: 100px 100px 100px 100px;
            margin: -20px 20px 0 -5px;
            width: 230px;
            height: 80px;
            @media #{$lg}{
                height: 60px;
            }
            @media #{$md}{
                margin: -10px 10px 0 0px;
                height: 45px;
            }
            @media #{$sm}{
                margin: -10px 10px 0 0px;
                height: 45px;
                width: 200px;
            }
            @media #{$xs}{
                margin: -10px 10px 0 0px;
                height: 40px;
                width: 150px;
            }
        }
        .rs-banner-video-inner{
            padding-top: 30px;
            video{
                width: 100%;
                border-radius: 30px 30px 30px 30px;
                height: 630px;
                object-fit: cover;
                @media #{$xl}{
                    height: 500px;
                }
                @media #{$lg,$md}{
                    height: 400px;
                }
                @media #{$sm}{
                    height: 300px;
                }
                @media #{$xs}{
                    height: 250px;
                }
            }
        }
    }
}
